body {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 4%;
  background-color: #565656;
}

.container-fluid {
  background-color: #FAFAFB;
}

.logo {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 1px;
  object-fit: cover;
}

.logo-2 {
  border-radius: 10px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

#checked {
  color: #22AAE2;
}

.nav-link {
  color: black;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: #d2d3d5;
  margin-bottom: 50px;
}

.phone {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.multiple-items {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.store {
  width: 50%;
  object-fit: cover;
}

.p1, .p2, .p3 {
  font-size: 14px;
}

.p4 {
  font-size: 13px;
}

.directions {
  padding-bottom: 10px;
  padding-top: 10px;
}

.btnm {
  border-radius: 30px;
  margin-top: 5px;
}

.foot {
  background-color: #ffffff;
  padding-top: 1%;
  padding-bottom: 1%;
}

.foot2 {
  margin: 10px auto;
}

i {
  cursor: pointer;
}

.footer {
  background-color: #565656;
  padding-top: 1%;
  padding-bottom: 1%;
}
